.body
{
    background-color: #F0F2F5;
    width: 100vw;
  min-height: 100vh;
}
.form
    {
      padding: 30%;
        padding-left: 20%;
    }
.input
{ 
    padding: 10px;
    margin: 10px 0px;
    width: 250px;
    
}
.button
    {
        background-color: #1877F2;
        color: aliceblue;
        width: 210%;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    
    }

.header
    {
        background-color: #1877F2;
        text-align : center;
       padding-top: 5px;
        padding-bottom : 10px;
      
    }
.header span
    {
        padding: 10px;
    }
.header a{

        text-decoration: none;
        color: aliceblue;
    }
.header a :hover{

        text-decoration: none;
        color:black;
    }
    .header .active{
        background-color: rgb(2, 2, 48);
    }