.body
{
    background-color: #F0F2F5;
    width: 100vw;
    min-height: 100vh;
}

.form
    {
        background-color: white;
        padding: 30px 60px;
        margin-right: 250px;
        border-radius: 10px;
        margin-top: 95px;
        margin-bottom: 30px;
    }

.signup
    {
        background-color: #36A420;
        color: aliceblue;
        width: 210%;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }
